<!-- #bbinclude "#relative#includes/header.html" --><!-- end bbinclude -->

    <section id="main">

      <div class="content--main">
        <div class="content--highlighted"></div>
        <a id="main-content"></a>

        <ul class="action-links">
          <li><a href="<#url#>"><#link name#></a></li>
        </ul>

        <article class="content--article">
          <h1 class="title"><#title#></h1>
          <div class="content--prose">
            <# content here #>
          </div>
        </article>
      </div>

      <aside class="sidebar--first">
        <# sidebar left here #>
      </aside>

      <aside class="sidebar--second">
        <# sidebar right here #>
      </aside>

    </section> <!-- /#main -->

<!-- #bbinclude "#relative#includes/header.html" --><!-- end bbinclude -->
